/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f7ff;
}

/* Login Container */
.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 35px;

    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* Heading */
.login-container h1 {
    text-align: center;
    color: #252047;
    margin-bottom: 10px;
}

.login-container > p {
    text-align: center;
    color: #666666;
    margin-bottom: 30px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 7px;
    color: #333333;
    font-size: 14px;
}

input {
    padding: 12px;
    margin-bottom: 20px;

    border: 1px solid #dddddd;
    border-radius: 8px;

    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #4f46a5;
}

/* Login Button */
button {
    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: #4f46a5;
    color: white;

    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #3f378f;
}

/* Register Link */
.login-container a {
    color: #4f46a5;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 500px) {

    .login-container {
        width: auto;
        margin: 50px 20px;
        padding: 30px;
    }
}