<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PrepMate</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <script 
        src="https://cdn.jsdelivr.net/npm/toastify-js">
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                Toastify({text: "{{ messages[0] }}", duration: 3000, gravity: "top", position: "right"}).showToast();
            </script>
        {% endif %}
    {% endwith %}
    <div class="login-container">
        <h1>Welcome Back</h1>
        <p>Login to continue your preparation.</p>

        <form method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">

            <button type="submit">Login</button>
        </form>

        <p>
            Don't have an account?
            <a href="{{url_for('register.register_page')}}">Register</a>
        </p>
    </div>
</body>
</html>