<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects - PrepMate</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/subject.css') }}">
</head>
<body>
    <div class="subjects-container">
        <h1>Choose a Subject</h1>
        <p>Select a subject to start your preparation.</p>
        <div class="subject-container">

            <div class="subject-card">
                <h2>SQL</h2>
                <p>Practice SQL questions.</p>
                <button>Start Practice</button>
            </div>

            <div class="subject-card">
                <h2>DSA</h2>
                <p>Practice Data Structures and Algorithms.</p>
                <button>Start Practice</button>
            </div>

            <div class="subject-card">
                <h2>Aptitude</h2>
                <p>Practice Aptitude questions.</p>
                <button>Start Practice</button>
            </div>
        </div>
    </div>
</body>
</html>